@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div>
    <h1 class="mb-3">Welcome to HealthcareBookingSystem</h1>
    <p><a class="btn btn-primary" asp-page="/Appointments/Index">Book an Appointment</a></p>
    <p><a class="btn btn-secondary" asp-page="/Privacy">Privacy</a></p>
</div>